body{
    font-family:'Raleway', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;  
}
.header{
    width: 1100px;
    height: 293px;
    display: flex;
    
}
.list_nav{
    margin-left: 50px;
    margin-top: 133px;
    display: flex;
    list-style-type: circle;
    list-style-position: outside;
    gap: 32px;
}

.list_nav li:first-child {
  list-style-type: none;
  padding-left: 0;
}

.underlane_decor {
  border-bottom: 1px solid;
}

.nav_link:active{
  border-bottom: 0px;  
}

.logo{
    width: 148px;
    height: 105px;
    margin-top: 92px;
    margin-left: 36.5px;

}

.address{
    width: 240px;
    height: 98px;
    max-width: 240px;
    margin-left: 184px;
    margin-top: 95px;
    display: flex;
    flex-direction: column;
    line-height: 24px;      
}

.cover{
    position: relative;
    min-height: 757px;
}

.cover_background{
    position: absolute;
    min-height: 757px;
    z-index: -1;
    object-fit: cover; 
    object-position: center center;
}
.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 0;
}
.title{
    position: absolute;
    display: block;
    top: 165px;
    left:50px;
    width: 1000; 
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 100px;
    line-height: 114.99999999999999%;
    letter-spacing: 30px;
    text-transform: uppercase;
    color: #fff;
}

.ono,.tebe,.nado{
    position: absolute;
    display: block;
}
.tebe{
    top: 135px;
    left: 330px;
}
.nado{
    top:270px;
    left: 613px;
}

.bottom_bar{
    display: flex;
    position: absolute;
    width: 1000px;
    bottom: 50px;
    left: 50px;
    justify-content: space-between;
}

.bottom_bar_text{
    font-family: 'Raleway',sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #fff;
    word-spacing: 19px;
    align-self: center;
}
.bottom_bar_button{
    margin: 0;
    padding: 0;
    height: 51px;
    width: 256px;
    background-color: transparent;
    color: white;
    border: 1px #fff solid;
    font-family: 'Raleway',sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
}
.cards{
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 180px;
}
.card_list{
    display: flex;
    gap: 25px;
    list-style-type: none;
}
.card{
    position: relative;
    width: 334px;
    min-height: 596px;
    margin-bottom: 30px;
}

.lots{
    margin-left: 40px;
    margin-bottom: 27px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;

}

.card_backgrond{
    position: absolute;
    height: 100%;
    z-index: -1;
    object-fit: cover; 
    object-position: center center;
}

.card_content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    height: 100%;
}
.card_title{
    margin-top: 48px;
    margin-left: 40px;
    margin-right: 40px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-style: solid;
    color: white;
}
.card_text{
    margin-bottom: 48px;
    margin-left: 40px;
    margin-right: 40px;
    font-family: 'Raleway',sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
    color: white;
}
.card_more{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-left: 40px;      
}

.about{
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 120px;
    display: grid;
    grid-template-columns: 334px;
    grid-template-rows: 283px 144px;
    grid-template-areas: 
    "about_logo about_title"
    ". about_text_1"
    ". about_text_2";

}
.about_logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 240px;
    background-color: black;
    border-radius: 50%;
    align-self: center;
    justify-self: center;
    grid-area: about_logo;
   
}
.about_logo-image{
    width: 148px;
    height: 114px;
    
}
.about_title{
    grid-area: about_title;
    align-self: center;
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;

}
.about_text_1{
    font-family: 'Raleway',sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
    grid-area: about_text_1;
}
.about_text_2{
    font-family: 'Raleway',sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
    grid-area: about_text_2;
}

.footer{
    margin-top: 180px;
    min-height: 180px;
    width: 100%;
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-between;
    align-items: start;
}

.footer_menu-list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_social-list{
    list-style-type: none;
    display: flex;
    gap: 48px;
}

.footer_social-icon{
    width: 48px;
    height: 48px;
}

.address_footer{
    width: 265px;
}

.footer_menu-link:active{
    border-bottom: 0px solid;
}




